#add-popup #gray {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#add-popup .color-ribbon {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 102;
}
#add-popup .popup {
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
}
#add-popup .pop-head {
  margin: 0 auto;
  width: 240px;
  height: 240px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
}
#add-popup .pop-head p {
  position: relative;
  margin-top: -120px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
#add-popup .pop-content {
  margin-top: -78px;
  background-color: #fff;
}
#add-popup .pop-content img {
  display: block;
  margin-left: -35px;
}
#add-popup .pop-info {
  background-color: #fff;
  text-align: center;
  padding-bottom: 15px;
}
#add-popup .pop-info p {
  margin-top: 10px;
  font-size: 16px;
}
#add-popup .pop-button {
  height: 80px;
  background-color: #efefef;
  z-index: 200;
}
#add-popup .pop-button a {
  display: inline-block;
  width: 97px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  background-color: #aaa;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}
#add-popup .pop-button #sure {
  float: left;
  width: 175px;
  height: 60px;
  border-right: 1px solid #ccc;
  text-align: center;
  margin-top: 10px;
}
#add-popup .pop-button #sure a {
  margin-top: 13px;
  background-color: #f57a00;
}
#add-popup .pop-button .return {
  float: left;
  width: 173px;
  height: 80px;
  text-align: center;
  margin-top: 10px;
}
#add-popup .pop-button .return a {
  margin-top: 13px;
}
#add-popup .pop-foot {
  height: 20px;
  background-color: #aaa;
}
